<h2>Write a review</h2>

<%= form_for([@restaurant, @restaurant.reviews.build]) do |f| %>
<p>
  <%= f.label :rating %><br>
  <%= f.text_field :rating %>
</p>

<p>
  <%= f.label :body%><br>
  <%= f.text_field :body %>
</p>

<p>
  <%= f.submit %>
</p>

<% end %>
